.section .reveal .state-background {
    background: #33006f;
}

.sub-section .reveal .state-background {
    background: #e8e3d3;
}

.sub-section .reveal .state-background:after,.section .reveal .state-background:after {
     content: ' ';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 512px;
    height: 512px;
    opacity : 0.75;
    z-index: 0;
    background-image: url('https://www.washington.edu/brand/files/2014/10/W-Logo_Gold_RGB.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}


    

.reveal  {
  background:url('https://www.washington.edu/brand/files/2014/09/Signature_Left_Purple_Hex-300x23.png');
  background-repeat : no-repeat;
  background-position :50% 99%;
  position:fixed;
}

.footer {
    color: black;
    background: #E8E8E8;
    position: fixed;
    top: 90%;
    text-align:center;
    width:100%;
}

.reveal .slideContent pre code {
  font-size: 1em;
}

.section .reveal ul {
    color: white;
}
.sub-section .reveal ul {
  color: #63717B;
}
.small-equation .MathJax_Display{
  font-size : 50%;
}

.small-code .reveal .slideContent pre code {
  font-size : 75%;
}
.reveal strong {
    color: #4b2e83;
}

.scrollable .slideContent {
    overflow-y: auto  !important;
    overflow-x: hidden !important;
    height: 700px;
}
