.section .reveal .state-background {
    background: #33006f;
}
.section .reveal .state-background:after {
     content: ' ';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    z-index: 0;
    opacity: 0.9;
    background-image: url('https://www.washington.edu/brand/files/2014/10/W-Logo_Gold_RGB.png');
    background-repeat: no-repeat;
    background-position: 0 90%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

    

.reveal  {
  background:url('https://www.washington.edu/brand/files/2014/09/Signature_Left_Purple_Hex-300x23.png');
  background-repeat : no-repeat;
  background-position :50% 99%;
  position:fixed;
}

